body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full_screen_btn {
    width: 100vw;
    height: 40px;
    background-color: #fff;
    border: none;
    color: black;
    font-family: "Courier New", Courier, monospace;
    /* font-weight: ; */
    font-size: 18px;
}
