html, body {
    height: 100%;
}

body {
    cursor: url("/static/img/cursor.png") 16 16, auto;
    font: 2rem "Monocraft";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #efefef;
    display: flex;
}


/* button { */
    /* position: absolute; */
    /* top: 1rem; */
    /* left: 1rem; */
    /* width: 2.5rem */
/* } */

@font-face {
    font-family: "Monocraft";
    src: url("/static/Monocraft.ttf");
}

canvas {
    position: absolute;
    z-index: -1
}

main {
    width: 40rem;
    margin: auto;
}

#title {
    width: 100%;
    image-rendering: pixelated;
}


input, button {
    display: block;
    margin: 1rem auto;
    border: none;
    padding: 0;
    width: 16rem;
    font: 2rem "Monocraft";
    cursor: url("/static/img/cursor.png") 16 16, auto;
    color: #efefef
}

button {
    background: #7f7f7f;
}

input {
    background: #3f3f3f;
    text-align: center
}

